<section id="clientLogo" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Associated with</h2>
  </div>

  <% Dir['./assets/img/clientLogo/**/*.jpg'].each_slice(4) do |group| %>
      <div class="row">
        <% group.each do |image| %>
            <% i = image.sub('/assets', '') %>
            <div class="large-3 columns">
              <img src="<%=i%>"/>
            </div>
        <% end %>
      </div>
  <% end %>
</section>
