<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-5 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
              <span>Dalavai Infrastructure</span>
              <span>No. 19, 2nd Main, AECS Layout,</span>
              <span>Aswathnagar, RMV Extn Stg II,</span>
              <span>Bangalore-560094</span>
              <br/>
              <span>info@dalavai.co.in</span>
              <span>jmgreddy@dalavai.co.in</span>
              <br/>
              <span>Ph    +9180 23513669</span>
              <span>Fax  +9180 41687765</span>
              <span><small><a href="https://www.google.co.in/maps/place/19,+2+nd+Main+Rd,+Ramkrishna+Layout,+Armane+Nagar,+Bengaluru,+Karnataka+560094/@13.028047,77.5796548,19z/data=!3m1!4b1!4m2!3m1!1s0x3bae17c6af0bc933:0x1215ff2519dba073?hl=en" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-7 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a href="https://www.google.co.in/maps/place/19,+2+nd+Main+Rd,+Ramkrishna+Layout,+Armane+Nagar,+Bengaluru,+Karnataka+560094/@13.028047,77.5796548,19z/data=!3m1!4b1!4m2!3m1!1s0x3bae17c6af0bc933:0x1215ff2519dba073?hl=en
" target="_blank" rel="nofollow">
                <img src="./img/map.png" alt="Map" align="center" />
            </a>
        </div>
    </div>
</section>
