<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-5 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
              <span>Dalavai Infrastructure</span>
              <span>No. 19, 2nd Main, AECS Layout,</span>
              <span>Aswathnagar, RMV Extn Stg II,</span>
              <span>Bangalore-560094</span>
              <br/>
              <span>info@dalavai.co.in</span>
              <span>jmgreddy@dalavai.co.in</span>
              <br/>
              <span>Ph    +9180 23513669</span>
              <span>Fax  +9180 41687765</span>
            </p>
        </div>

        <div class="large-7 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7774.23945371753!2d77.57527743477809!3d13.028046899426185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17c6af0bc933%3A0x1215ff2519dba073!2s19%2C+2nd+Main+Rd%2C+Ramkrishna+Layout%2C+Armane+Nagar%2C+Bengaluru%2C+Karnataka+560094!5e0!3m2!1sen!2sin!4v1484498483475"
                  width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
