<section id="past" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Past Projects</h2>
  </div>



  <div class="row">
    <div class="large-6 columns">
      <img src="./img/past/BANGALORE GOLF CLUB.JPG"/>
      <div>Bangalore Golf Club</div>
    </div>
    <div class="large-6 columns">
      <img src="./img/past/COLLEGE FOR STEM .JPG"/>

      <div>College for STEM - Jigani</div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <img src="./img/past/AJAX FIORI EXPOSED CONCRETE WORK .JPG"/>

      <div>AJAX Fiori exposed concrete</div>
    </div>
    <div class="large-6 columns">
      <img src="./img/past/MANUFACTURING UNIT FOR AJAX FIORI.JPG"/>

      <div>AJAX manufacturing unit</div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <img src="./img/past/MITSUBISHI DIESEL ENGNES AT MYSORE.jpg"/>
      <div>Mitsubishi diesel engines at mysore</div>
    </div>
  </div>
</section>
