<section id="past" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Past Projects</h2>
  </div>


  <% Dir['./assets/img/past/**/*.jpg'].each_slice(2) do |group| %>
      <div class="row">
        <% group.each do |image| %>
            <% i = image.sub('/assets', '') %>
            <div class="large-6 columns">
              <img src="<%=i%>"/>
              <br>
              <div><%= image.sub('./assets/img/past/', '').sub('.jpg', '').downcase %></div>
            </div>
        <% end %>
      </div>
  <% end %>

  <!--<div class="row">-->
    <!--<div class="large-6 columns">-->
      <!--<img src="./img/past/BANGALORE GOLF CLUB.jpg"/>-->

      <!--<div>Bangalore Golf Club</div>-->
    <!--</div>-->
    <!--<div class="large-6 columns">-->
      <!--<img src="./img/past/COLLEGE FOR STEM.JPG"/>-->

      <!--<div>College for STEM - Jigani</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="large-6 columns">-->
      <!--<img src="./img/past/AJAX FIORI EXPOSED CONCRETE WORK.jpg"/>-->

      <!--<div>AJAX Fiori exposed concrete</div>-->
    <!--</div>-->
    <!--<div class="large-6 columns">-->
      <!--<img src="./img/past/MANUFACTURING UNIT FOR AJAX FIORI.jpg"/>-->

      <!--<div>AJAX manufacturing unit</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="large-6 columns">-->
      <!--<img src="./img/past/MITSUBISHI DIESEL ENGNES AT MYSORE.JPG"/>-->

      <!--<div>Mitsubishi diesel engines at mysore</div>-->
    <!--</div>-->
  <!--</div>-->
</section>
