<section id="present" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Current and Future Projects</h2>
  </div>

  <div class="row">
    <div class="large-6 columns"  >
      <img src="./img/IMG_0041.JPG"/>
      <div>Bangalore Golf Club</div>
    </div>
    <div class="large-6 columns" >
      <img src="./img/IMG_5138.JPG"/>
      <div>Jigani Management School</div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns"  >
      <img src="./img/IMG_5135.JPG"/>
      <div>Jigani Management School</div>
    </div>
    <div class="large-6 columns" >
      <img src="./img/IMG_5283.JPG"/>
      <div>KC palace Club</div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns"  >
      <img src="./img/IMG_2451.JPG"/>
      <div>Jigani Management School</div>
    </div>
  </div>
</section>