<section id="present" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Current and Future Projects</h2>
  </div>

  <div class="row">
    <div class="large-6 columns"  >
      <img src="./img/present/APPARTMENT AT BOMMASANDRA.jpg"/>
      <div>Appartment at bommasandra</div>
    </div>
    <div class="large-6 columns" >
      <img src="./img/present/CIVIL WORKS AT CENTRE FOR NEUROSCIENCE AT IISC BANGALORE.jpg"/>
      <div>Neuroscience IISC Bangalore</div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns"  >
      <img src="./img/present/HYDRAULICS LAB AT IISC BANGALORE.jpg"/>
      <div>Hydraulics lab at iisc Bangalore</div>
    </div>
    <div class="large-6 columns"  >
      <img src="./img/present/INDOOR STADIUM.jpg"/>
      <div>Indoor stadium</div>
    </div>
  </div>
</section>