<section id="present" class="feature">
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
    <h2>Current Projects</h2>
  </div>

  <div class="row">
    <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
      <img src="./img/IMG_0041.JPG" />
      <img src="./img/IMG_2451.JPG" />
      <img src="./img/IMG_5135.JPG" />
      <img src="./img/IMG_5283.JPG" />
      <img src="./img/IMG_5138.JPG" />
    </div>
  </div>
</section>