<% render '_layout', title: start_date.strftime("%b %Y") do %>
    <section id="intro" class="feature">
        <div class="row logo">
            <div class="large-12 columns">
                <a href="http://www.dalavai.in" target="_blank"
                   onclick="ga('send', 'event', 'tw', 'tw')">
                    <img src="./img/logo.png" alt="Dalavai" align="center" />
                </a>
                <h1>Dalavai</h1>
                <h5>Infrastructure</h5>
            </div>
        </div>
    </section>

    <%= render '_about_section' %>

    <%= render '_header_section' %>

<% end %>
